proxmox_api_host: 'YOUR_PROXMOX_API_HOST'
proxmox_api_user: root@pam
proxmox_api_password: 'CHANGE_ME'
proxmox_node: 'YOUR_NODE_NAME'
proxmox_storage: local-lvm
proxmox_template: ubuntu-cloud-template

proxmox_vms:
  - name: bestzige-vm-01
    index: 0
  - name: bestzige-vm-02
    index: 1

proxmox_vm_ci_user: ansible
proxmox_vm_ci_password: ansible123

ansible_user: '{{ proxmox_vm_ci_user }}'
ansible_ssh_private_key_file: roles/proxmox/files/ansible_ed25519
ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

app_dir: /opt/int531
repo_url: https://github.com/bestzige/int531-demo.git

vm_network:
  subnet: 10.13.104
  start_ip: 100
  netmask: 24
  gateway: 10.13.104.254
