- name: Set up virtual machine on Proxmox
  hosts: localhost
  gather_facts: false
  vars:
    vm_name: node-08-vm-01
    vm_template: ubuntu-cloud-template
    proxmox_node: blade-server08
    proxmox_api_host: 10.13.104.218
    proxmox_api_user: root@pam
    proxmox_api_password: int53108
    proxmox_storage: local-lvm
    vm_target_ip: 10.13.104.90
  tasks:
    - name: Ping localhost
      ansible.builtin.ping:

    - name: Get VM current state
      community.proxmox.proxmox_kvm:
        api_user: '{{ proxmox_api_user }}'
        api_password: '{{ proxmox_api_password }}'
        api_host: '{{ proxmox_api_host }}'
        name: '{{ vm_name }}'
        node: '{{ proxmox_node }}'
        state: current
      register: vm_info
      ignore_errors: true

    - name: Stop the VM if running
      community.proxmox.proxmox_kvm:
        api_user: '{{ proxmox_api_user }}'
        api_password: '{{ proxmox_api_password }}'
        api_host: '{{ proxmox_api_host }}'
        name: '{{ vm_name }}'
        node: '{{ proxmox_node }}'
        state: stopped
        force: true
      when: vm_info.vmid is defined and vm_info.status == 'running'

    - name: Remove VM if it exists
      community.proxmox.proxmox_kvm:
        api_user: '{{ proxmox_api_user }}'
        api_password: '{{ proxmox_api_password }}'
        api_host: '{{ proxmox_api_host }}'
        name: '{{ vm_name }}'
        node: '{{ proxmox_node }}'
        state: absent
      when: vm_info.vmid is defined

    - name: Create VM
      community.proxmox.proxmox_kvm:
        api_user: '{{ proxmox_api_user }}'
        api_password: '{{ proxmox_api_password }}'
        api_host: '{{ proxmox_api_host }}'
        clone: '{{ vm_template }}'
        name: '{{ vm_name }}'
        node: '{{ proxmox_node }}'
        storage: '{{ proxmox_storage }}'
        format: qcow2
        timeout: 100
      register: new_vm

    - name: Update VM (cloud-init)
      community.proxmox.proxmox_kvm:
        api_user: '{{ proxmox_api_user }}'
        api_password: '{{ proxmox_api_password }}'
        api_host: '{{ proxmox_api_host }}'
        node: '{{ proxmox_node }}'
        name: '{{ vm_name }}'
        ciuser: ansible
        cipassword: ansible
        sshkeys: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAN5vKjeNjEgMBUQp73g73XyeQrI/R1f9wSsZAETWLat ansible@10.13.104.90'
        ipconfig:
          ipconfig0: 'ip=10.13.104.90/24,gw=10.13.104.254'
        update: yes

    - name: Start VM
      community.proxmox.proxmox_kvm:
        api_user: '{{ proxmox_api_user }}'
        api_password: '{{ proxmox_api_password }}'
        api_host: '{{ proxmox_api_host }}'
        vmid: '{{ new_vm.vmid }}'
        node: '{{ proxmox_node }}'
        state: started

    - name: Wait 5 minutes for VM to finish first-boot tasks
      ansible.builtin.pause:
        minutes: 5

    - name: Wait for VM to be reachable via SSH
      ansible.builtin.wait_for_connection:
        delay: 10
        timeout: 300

- name: Configure the new VM hostname and Docker
  hosts: 10.13.104.90
  gather_facts: yes
  become: yes
  vars:
    ansible_user: ansible
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    ansible_ssh_private_key_file: './ssh-keys/id_ansible'
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Install Docker Engine
      ansible.builtin.apt:
        name: docker.io
        state: present

    - name: Install Docker Compose v2
      ansible.builtin.apt:
        name: docker-compose-v2
        state: present

    - name: Ensure Docker service is running
      ansible.builtin.systemd_service:
        name: docker
        state: started
        enabled: yes

- name: Configure the new VM for Docker app
  hosts: 10.13.104.90
  gather_facts: yes
  become: yes
  vars:
    ansible_user: ansible
    ansible_ssh_private_key_file: './ssh-keys/id_ansible'
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    repo_url: 'https://github.com/bestzige/int531-demo.git'
    app_dir: '/home/app'
  tasks:
    - name: Update apt cache and install Docker dependencies
      ansible.builtin.apt:
        name:
          - docker.io
          - docker-compose-plugin
          - docker-buildx-plugin
        state: latest
        update_cache: true

    - name: Ensure Docker service is running
      ansible.builtin.systemd:
        name: docker
        state: started
        enabled: true

    - name: Clone repository
      ansible.builtin.git:
        repo: '{{ repo_url }}'
        dest: '{{ app_dir }}'
        version: main
        update: true

    - name: Copy env file
      ansible.builtin.copy:
        src: '{{ app_dir }}/.env.example'
        dest: '{{ app_dir }}/.env'
        remote_src: true
        force: false
        mode: '0600'

    - name: Run Docker Compose
      community.docker.docker_compose_v2:
        project_src: '{{ app_dir }}'
        state: present
        build: always

    - name: Check running Docker containers
      community.docker.docker_container_info:
        name: all
      register: docker_containers

    - name: Show running Docker containers
      ansible.builtin.debug:
        var: docker_containers.containers
