- name: Set up virtual machine on Proxmox
  hosts: localhost
  gather_facts: false
  vars:
    vm_name: bestzige-vm-01
    vm_template: ubuntu-cloud-template
    proxmox_node: blade-server08
    proxmox_api_host: 10.13.104.218
    proxmox_api_user: root@pam
    proxmox_api_password: int53108
    proxmox_storage: local-lvm
    vm_target_ip: 10.13.104.90
    ci_user: ansible
    ci_password: ansible_password
    ssh_pub_key: "{{ lookup('file', './ssh-keys/id_ansible.pub') }}"
    ssh_private_key: './ssh-keys/id_ansible'
    gateway: 10.13.104.254

  tasks:
    - name: Ping localhost
      ansible.builtin.ping:

    - name: Get VM current state
      community.proxmox.proxmox_kvm:
        api_user: '{{ proxmox_api_user }}'
        api_password: '{{ proxmox_api_password }}'
        api_host: '{{ proxmox_api_host }}'
        node: '{{ proxmox_node }}'
        name: '{{ vm_name }}'
        state: current
      register: vm_info
      ignore_errors: true
      delegate_to: localhost

    - block:
        - name: Stop VM if running
          community.proxmox.proxmox_kvm:
            api_user: '{{ proxmox_api_user }}'
            api_password: '{{ proxmox_api_password }}'
            api_host: '{{ proxmox_api_host }}'
            node: '{{ proxmox_node }}'
            name: '{{ vm_name }}'
            state: stopped
            force: true

        - name: Remove VM
          community.proxmox.proxmox_kvm:
            api_user: '{{ proxmox_api_user }}'
            api_password: '{{ proxmox_api_password }}'
            api_host: '{{ proxmox_api_host }}'
            node: '{{ proxmox_node }}'
            name: '{{ vm_name }}'
            state: absent
      when: vm_info.vmid is defined
      delegate_to: localhost

    - name: Clone and create VM
      community.proxmox.proxmox_kvm:
        api_user: '{{ proxmox_api_user }}'
        api_password: '{{ proxmox_api_password }}'
        api_host: '{{ proxmox_api_host }}'
        clone: '{{ vm_template }}'
        name: '{{ vm_name }}'
        node: '{{ proxmox_node }}'
        storage: '{{ proxmox_storage }}'
        format: qcow2
        timeout: 100
      register: new_vm
      delegate_to: localhost

    - name: Configure cloud-init and start VM
      community.proxmox.proxmox_kvm:
        api_user: '{{ proxmox_api_user }}'
        api_password: '{{ proxmox_api_password }}'
        api_host: '{{ proxmox_api_host }}'
        node: '{{ proxmox_node }}'
        name: '{{ vm_name }}'
        ciuser: '{{ ci_user }}'
        cipassword: '{{ ci_password }}'
        sshkeys: '{{ ssh_pub_key }}'
        ipconfig:
          ipconfig0: 'ip={{ vm_target_ip }}/24,gw={{ gateway }}'
        update: true
        state: started
      delegate_to: localhost

    - name: Wait for VM SSH to be reachable
      ansible.builtin.wait_for_connection:
        delay: 5
        timeout: 180

    - name: Add the new VM to in-memory inventory
      ansible.builtin.add_host:
        name: '{{ vm_target_ip }}'
        ansible_user: '{{ ci_user }}'
        ansible_ssh_private_key_file: '{{ ssh_private_key }}'
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
        groups: new_vms

- name: Configure the new VM
  hosts: new_vms
  gather_facts: true
  become: true
  vars:
    repo_url: 'https://github.com/bestzige/int531-demo.git'
    app_dir: '/home/app'

  tasks:
    - name: Update apt cache and install Docker
      ansible.builtin.apt:
        name:
          - docker.io
          - docker-compose-plugin
          - docker-buildx-plugin
        state: latest
        update_cache: true

    - name: Ensure Docker service is running
      ansible.builtin.systemd:
        name: docker
        state: started
        enabled: true

    - name: Clone repository
      ansible.builtin.git:
        repo: '{{ repo_url }}'
        dest: '{{ app_dir }}'
        version: main
        update: true

    - name: Copy env file
      ansible.builtin.copy:
        src: '{{ app_dir }}/.env.example'
        dest: '{{ app_dir }}/.env'
        remote_src: true
        force: false
        mode: '0600'

    - name: Run docker compose
      community.docker.docker_compose_v2:
        project_src: '{{ app_dir }}'
        state: present
        build: always
