- name: Clone repository
  ansible.builtin.git:
    repo: '{{ repo_url }}'
    dest: '{{ app_dir }}'
    version: main
    update: true

- name: Copy env file
  ansible.builtin.copy:
    src: '{{ app_dir }}/.env.example'
    dest: '{{ app_dir }}/.env'
    remote_src: true
    force: false
    mode: '0600'

- name: Run docker compose
  community.docker.docker_compose_v2:
    project_src: '{{ app_dir }}'
    state: present
    build: always
