- name: Calculate VM IP (static)
  ansible.builtin.set_fact:
    proxmox_vm_ip: '{{ vm_network.subnet }}.{{ vm_network.start_ip + proxmox_vm_index }}'

- name: Get current state of VM
  community.proxmox.proxmox_kvm:
    api_host: '{{ proxmox_api_host }}'
    api_user: '{{ proxmox_api_user }}'
    api_password: '{{ proxmox_api_password }}'
    node: '{{ proxmox_node }}'
    name: '{{ proxmox_vm.name }}'
    state: current
  register: proxmox_vm_info
  failed_when: false
  changed_when: false

- name: Stop VM if running
  community.proxmox.proxmox_kvm:
    api_host: '{{ proxmox_api_host }}'
    api_user: '{{ proxmox_api_user }}'
    api_password: '{{ proxmox_api_password }}'
    node: '{{ proxmox_node }}'
    name: '{{ proxmox_vm.name }}'
    state: stopped
    force: true
  when:
    - proxmox_vm_info.vmid is defined
    - proxmox_vm_info.status | default('') == 'running'

- name: Remove VM if exists
  community.proxmox.proxmox_kvm:
    api_host: '{{ proxmox_api_host }}'
    api_user: '{{ proxmox_api_user }}'
    api_password: '{{ proxmox_api_password }}'
    node: '{{ proxmox_node }}'
    name: '{{ proxmox_vm.name }}'
    state: absent
  when: proxmox_vm_info.vmid is defined

- name: Clone VM from template
  community.proxmox.proxmox_kvm:
    api_host: '{{ proxmox_api_host }}'
    api_user: '{{ proxmox_api_user }}'
    api_password: '{{ proxmox_api_password }}'
    node: '{{ proxmox_node }}'
    clone: '{{ proxmox_template }}'
    name: '{{ proxmox_vm.name }}'
    storage: '{{ proxmox_storage }}'
    format: qcow2
    timeout: 120
  register: proxmox_new_vm

- name: Configure cloud-init
  community.proxmox.proxmox_kvm:
    api_host: '{{ proxmox_api_host }}'
    api_user: '{{ proxmox_api_user }}'
    api_password: '{{ proxmox_api_password }}'
    node: '{{ proxmox_node }}'
    name: '{{ proxmox_vm.name }}'
    ciuser: '{{ proxmox_vm_ci_user }}'
    cipassword: '{{ proxmox_vm_ci_password }}'
    sshkeys: "{{ lookup('file', role_path + '/files/ansible_ed25519.pub') }}"
    ipconfig:
      ipconfig0: 'ip={{ proxmox_vm_ip }}/{{ vm_network.netmask }},gw={{ vm_network.gateway }}'
    update: true

- name: Start VM
  community.proxmox.proxmox_kvm:
    api_host: '{{ proxmox_api_host }}'
    api_user: '{{ proxmox_api_user }}'
    api_password: '{{ proxmox_api_password }}'
    node: '{{ proxmox_node }}'
    vmid: '{{ proxmox_new_vm.vmid }}'
    state: started

- name: Return VM info for parent playbook
  ansible.builtin.set_fact:
    proxmox_role_result:
      name: '{{ proxmox_vm.name }}'
      ip: '{{ proxmox_vm_ip }}'
