- name: Get VM info from Proxmox
  community.proxmox.proxmox_vm_info:
  register: proxmox_vms
  changed_when: false

- name: Build VM name > VMID lookup
  ansible.builtin.set_fact:
    proxmox_vm_lookup: >-
      {{ proxmox_vms.proxmox_vms
         | items2dict(key_name='name', value_name='vmid') }}

- name: Resolve template VM
  ansible.builtin.set_fact:
    template_vm: >-
      {{ proxmox_vms.proxmox_vms
         | selectattr('name', 'equalto', vm_template)
         | selectattr('template', 'equalto', true)
         | first }}

- name: Fail if template not found
  ansible.builtin.fail:
    msg: 'Template {{ vm_template }} not found or not marked as template'
  when: template_vm is not defined

- name: Clone missing VMs from template
  community.proxmox.proxmox_kvm:
    clone: '{{ vm_template }}'
    newid: '{{ hostvars[item].vmid }}'
    name: '{{ hostvars[item].vm_name }}'

    ciuser: '{{ vm_user }}'
    cipassword: '{{ vm_password }}'
    sshkeys: "{{ lookup('file', vm_ssh_pubkey) }}"

    ipconfig:
      ipconfig0: 'ip={{ hostvars[item].ansible_host }}/{{ vm_netmask }},gw={{ vm_gateway }}'

    state: present
  loop: "{{ groups['vms'] }}"
  when: hostvars[item].vm_name not in proxmox_vm_lookup
  register: clone_results

- name: Update existing VMs (cloud-init only)
  community.proxmox.proxmox_kvm:
    vmid: '{{ hostvars[item].vmid }}'
    name: '{{ hostvars[item].vm_name }}'

    ciuser: '{{ vm_user }}'
    cipassword: '{{ vm_password }}'
    sshkeys: "{{ lookup('file', vm_ssh_pubkey) }}"

    ipconfig:
      ipconfig0: 'ip={{ hostvars[item].ansible_host }}/{{ vm_netmask }},gw={{ vm_gateway }}'

    update: true
    state: present
  loop: "{{ groups['vms'] }}"
  register: update_results

- name: Stop updated VMs
  community.proxmox.proxmox_kvm:
    vmid: '{{ hostvars[item.item].vmid }}'
    state: stopped
  loop: '{{ update_results.results }}'
  when: item.changed

- name: Start updated VMs
  community.proxmox.proxmox_kvm:
    vmid: '{{ hostvars[item.item].vmid }}'
    state: started
  loop: '{{ update_results.results }}'
  when: item.changed

- name: Wait for SSH
  ansible.builtin.wait_for:
    host: '{{ hostvars[item].ansible_host }}'
    port: 22
    timeout: 600
  loop: "{{ groups['vms'] }}"
  delegate_to: localhost

- name: Add provisioned VMs to runtime inventory
  ansible.builtin.add_host:
    name: '{{ item }}'
    groups: provisioned_vms
    ansible_host: '{{ hostvars[item].ansible_host }}'
    ansible_user: '{{ vm_user }}'
    ansible_ssh_private_key_file: '{{ vm_ssh_private_key }}'
  loop: "{{ groups['vms'] }}"
